<mat-tab-group>
  <mat-tab label="Search Result">
    <div class="container">
      <div fxLayout='row wrap' class="cards">

        <div fxFlex="20" class="example-card" *ngFor="let film of dataResult.results">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{film.title}}</mat-card-title>
              <mat-card-subtitle>{{film.release_date}}
              </mat-card-subtitle>
            </mat-card-header>

            <img mat-card-image src="http://image.tmdb.org/t/p/w92/{{film.poster_path}}" alt="Poster {{film.title}}">
            <mat-card-content>
              <p>
                {{film.overview}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="addTutorial(film)">
                <mat-icon [style.color]="favorisCheck(film) ? 'red' : 'black'">favorite</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Favoris">
    <app-favoris></app-favoris>
  </mat-tab>
</mat-tab-group>